<% include header %>
<div class="app">
  <div class="app-web">
    <div class="app-title">
      <div class="app-title-content">
        <div>买车人的选车神器 </div>
        <div>
          <span>看看车</span>
          <span>- 让事故，瑕疵无所遁形</span>
        </div>
        <div>
          大量、真实、高质、有效的二手车交易平台。
        </div>
        <img class="app-title-qrcode" src="/res/image/app/c_app_qr.png" alt=""/>
        <div class="discreption">扫描二维码</div>
        <div class="discreption">下载APP</div>
      </div>
      <img class="app-title-phone" src="/res/image/app/c_app_phone.png" alt=""/>
      <div class="app-title-buttom">
      </div>
    </div>
    <div class="app-content">
      <div class="app-content-cheshi pt0">
        <span class="app-content-cheshi-title">产品介绍</span>
        <hr/>
        <div>
          <img src="/res/image/app/c_app_web_p1.png" alt=""/>
        </div>
        <div>
          <div>车市</div>
          <div>海量车款 , 任君挑选</div>
        </div>
      </div>
      <div class="app-content-kanxin">
        <hr/>
        <div class="content">
          <div>看信</div>
          <div>实时咨询 , 全程陪同</div>
        </div>
        <div class="img">
          <img src="/res/image/app/c_app_web_p2.png" alt=""/>
        </div>
      </div>
      <div class="app-content-cheshi">
        <hr/>
        <div>
          <img src="/res/image/app/c_app_web_p3.png" alt=""/>
        </div>
        <div>
          <div>发现</div>
          <div>行业砖家,优质分享</div>
        </div>
      </div>
      <div class="app-content-qr">
        <hr/>
        <div>还等什么,立即扫码!</div>
        <img src="/res/image/app/c_app_qr.png" alt=""/>
        <div>仅支持Android、IOS系统</div>
      </div>
    </div>
    <footer>
      <div>
        <a href="http://www.kanche.com">看车网</a> |
        <a href="http://www.kanche.com/beijing/cms/about_us">关于我们</a> |
        <a href="http://job.kanche.com/">工作机会</a> |
        <a href="http://weibo.com/kanchecom">官方微博</a> |
        <a >技术支持: 010-57732367</a>
      </div>
      <div>
        地址: 北京市朝阳区望京街10号 望京SOHO塔2,1单元, 1507室
      </div>
      <div>
        Copyright© 2014-2015 北京看看车科技有限公司 ALL Rights Reserved.
      </div>
    </footer>
  </div>
  <div class="app-mobile" id="fullpage">
    <div class="app-page-one section">
      <div class="app-page-one-img">
        <img src="/res/image/app/c_app_logo.png" alt=""/>
      </div>
      <div class="app-page-one-title">看 车</div>
      <div class="app-page-one-content">
        <div>买车人的选车神器</div>
        <div>- 让事故，瑕疵无所遁形</div>
        <div>大量、真实、高质、有效的二手车交易平台。</div>
      </div>
      <div class="app-instent-download">
        <a class="download" target="_blank" href="">立即下载</a>
      </div>
      <img class="app-mobile-bottom-img" src="/res/image/app/c_app_mobile_phone.png" alt=""/>
      <div class="app-mobile-buttom"></div>
    </div>
    <div class="app-page-two section">
      <div class="app-page-two-img">
        <img src="/res/image/app/c_app_p1.png" alt=""/>
      </div>
      <div class="app-page-two-content">
        <div>看车</div>
        <div>发现二手好车</div>
      </div>
    </div>
    <div class="app-page-two section">
      <div class="app-page-two-img">
        <img src="/res/image/app/c_app_p2.png" alt=""/>
      </div>
      <div class="app-page-two-content">
        <div>车市</div>
        <div>海量车款,任君挑选</div>
      </div>
    </div>
    <div class="app-page-two section">
      <div class="app-page-two-img">
        <img src="/res/image/app/c_app_p3.png" alt=""/>
      </div>
      <div class="app-page-two-content">
        <div>发现</div>
        <div>行业砖家,优质分享</div>
      </div>
    </div>
    <div class="app-page-three section">
      <div class="app-page-three-img">
        <img src="/res/image/app/c_app_logo_full.png" alt=""/>
      </div>
      <div class="app-page-three-download">
        <a class="download" target="_blank" href="">立即下载</a>
      </div>
      <div class="app-page-discription">
        <p>版本要求 : IOS 7.0及以上</p>
        <p>Android 4.0及以上</p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/components/fullpage/jquery.fullPage.min.js"></script>
<script src="/js/capp.js"></script>

<% include footer %>
